<a href="https://colab.research.google.com/github/VK-VCS/Models/blob/main/Boosting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("https://raw.githubusercontent.com/VK-VCS/Models/main/winequality_red.csv")
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [3]:
data['quality'].unique() #6 classes

array([5, 6, 7, 4, 8, 3])

In [4]:
X = data.drop(columns=['quality'])
y = data['quality']

In [5]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=200)

In [6]:
from sklearn.tree import DecisionTreeClassifier

DT_clf=DecisionTreeClassifier().fit(x_train, y_train)
print(DT_clf.score(x_test,y_test))

0.628125

In [44]:
from sklearn.ensemble import AdaBoostClassifier

Ada_clf = AdaBoostClassifier(n_estimators=50,learning_rate=0.1, random_state=200).fit(x_train, y_train)
Ada_clf.score(x_test,y_test)

0.63125

In [55]:
from sklearn.ensemble import GradientBoostingClassifier

GB_clf = GradientBoostingClassifier(n_estimators=50, learning_rate=0.1, random_state=200).fit(x_train, y_train)
GB_clf.score(x_test, y_test)

0.68125

In [60]:
from xgboost import XGBClassifier

XGB_clf = XGBClassifier(n_estimators= 200, learning_rate = 0.1, random_state = 200).fit(x_train, y_train)
XGB_clf.score(x_test, y_test)

0.69375